* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
}

footer {
  background-color: #2f2f2f;
  color: white;
  text-align: center;
  bottom: 0px;
  width: 100%;
}
