html {font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;align-items: center;}
body {background-color: #FFFCF5;}
article {background: color #babde2; margin-bottom: 50px;margin-top: 50px;}