html {font-family: Verdana, Geneva, Tahoma, sans-serif;padding: 50px;
align-items: center;}
body {background-color: #FFFCF5;}
article {background: color #babde2;
margin-bottom: 50px;margin-top: 50px;
padding :30px; }

header {background-image:url(../images/pink\ star.jpeg);
padding: 50px;
}

*{box-sizing:border-box;}
h1 {color:#FFFCF5;}
a{text-decoration: none;
 ;}
 ul{list-style: none;}

 
#cat {
    width: 300px;
    height:200px ;
    border: 1px solid #000;
    background-image:url(../images/고양이.gif) ;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position:center center;}
#travel{

    width: 300px;
    height:200px ;
    border: 1px solid #000;
    background-image:url(../images/GoldenGateBridge-001.jpeg) ;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position:center center;
}
#china{
    width: 300px;
    height:200px ;
    border: 1px solid #000;
    background-image:url(../images/chinacastle.jpeg) ;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position:center center;
}

img{
    width: 300px;
    height:300px ;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position:center center;}


#mbti{
    width: 500px;
    height: 200px ;
    background-image:url(../images/intp.jpeg) ;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position:center center;}

#food{

    width: 300px;
    height:200px ;
    border: 1px solid #000;
    background-image:url(../images/훠궈.jpeg) ;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position:center center;
}

footer{background-image:url(../images/pink\ star.jpeg);
    padding: 30px}