html {font-family: Verdana, Geneva, Tahoma, sans-serif;padding: 50px;
align-items: center;}
body {background-color: #FFFCF5;}
article {background: color #babde2;
margin-bottom: 50px;margin-top: 50px;
padding :30px; }

header {background-image:url(../images/pink\ star.jpeg);
padding: 30px;}

*{box-sizing:border-box;}
h1 {color:#FFFCF5;}
a{text-decoration: none;
 ;}

