* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    max-width:auto;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
}

.header {
    background-color:white;
    height: 65px;
    padding: 20px 40px;
}
.header span{
    padding-right: 20px;

}
.mainbanner{
    background-image: url("https://t1.daumcdn.net/cfile/tistory/24E61F335966F29A15");
    background-size: cover;
    height: 430px ;
    padding: 60px 40px;
}
.features {
    background-color:bisque;
    height: px;
    padding: 16px 24px;
}

a{
    border-radius: 1px;
    border-color: #969696;
}
img {
    width : 50px;
    height: 50px;
}
.section{
    background-color:aquamarine;
    height: 120px;
    padding: 20px 40px;
}
.footer{
    height: 200px;
    padding: 40px 20px;
}
.footer a:link, a:visited{

     text-decoration: none;
     color: #969696;
}
.footer a:hover{
    color: blue;
}