
*{font-family: Verdana, Tahoma, sans-serif;
    padding: 50px;align-items: center; box-sizing:border-box; }

body {background-color: #FFFCF5;}

article {margin-bottom: 50px;margin-top: 50px; padding:30px;}
