header h2,
header p {
  text-align: center;
  padding-top: 1rem;
}

body {
  background-color: beige;
}
.wrapper {
  display: grid;
  grid-template-columns: 25rem 25rem;
  grid-template-rows: 13rem 13rem;
  gap: 1.5rem;
  padding: 13rem 0 3.5rem 0;
  justify-content: center;
}

.block {
  background-color: #c9d6cc;
  border-radius: 10% / 50%;
  transition: 0.5s;
}

.block:hover {
  background-color: #afbdb3;
}
